/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/vcs.xml
.idea/blade.xml
.idea/modules.xml
.idea/SEP_II.iml

